#app{
  font-family: fantasy;
  font-weight: bold;
  font-size: larger;
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/2/2020/07/OliveSkewers_IndianKebabs_preview-48ce677.jpg?quality=90&resize=768,574");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#header{ 
   font-size:xx-large;
}
.nav-bar {
  background-color: rgb(214, 147, 71);
  height: 100px;
  width: 100%;
}
.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
#nav-icon{
  height: 1cm;
  width: 1cm;
  position: relative;
  bottom: 0.5cm;
}
.home-page{
  height: 140vh;
  width: 100%;
  /* background-image: url("https://images.immediate.co.uk/production/volatile/sites/2/2020/07/OliveSkewers_IndianKebabs_preview-48ce677.jpg?quality=90&resize=768,574"); */
}
#home-page-text{
  text-align: center;
  color: rgb(0, 0, 0);
}
.section{
  background-color: rgb(255, 248, 220);
  margin: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}
.item-section{
  display: flex;
  /* border: solid black 1px; */
  justify-content: space-around;
}
#h2{
  display: flex;
  justify-content: center;
}
.shopping-cart-page{
  background-color: rgb(255, 248, 220);
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 400px;
  align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);   
  margin: auto;
}
#shopping-cart-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cart-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
}    
#check-out{
  display: flex;
  justify-content: space-around;
}
button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin:0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  height: 2rem;
  cursor: pointer;
}
.item-section img{
  height: 70px;
  width: 70px;
}
.menu-page {
  height: 140vh;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "appetizers appetizers appetizers"
    "app1 desc1 price1"
    "app2 desc2 price2"
    "app3 desc3 price3"
    "btn btn btn"
    "soups soups soups"
    "soup1 soup2 soup3"
    "soup1 soup2 soup3"
    "soup1 soup2 soup3"
    "btn btn btn"
    "salads salads salads"
    "salad1 salad2 salad3"
    "salad1 salad2 salad3"
    "salad1 salad2 salad3"
    "btn btn btn"
    "entrees entrees entrees"
    "ent1 ent2 ent3"
    "ent1 ent2 ent3"
    "ent1 ent2 ent3"
    "btn btn btn"
    "desserts desserts desserts"
    "des1 des2 des3"
    "des1 des2 des3"
    "des1 des2 des3"
    "btn btn btn"
    "drinks drinks drinks"
    "drk1 drk2 drk3"
    "drk1 drk2 drk3"
    "drk1 drk2 drk3"
    "btn btn btn";
}
.appetizers { grid-area: appetizers; }
.app1 { grid-area: app1; }
.appt2 { grid-area: appt2; }
.app3 { grid-area: app3; }
.btn1 { grid-area: btn; }
.btn2 { grid-area: btn2; }
.btn3 { grid-area: btn3; }  
.soups { grid-area: soups; }
.soup1 { grid-area: soup1; }
.soup2 { grid-area: soup2; }
.soup3 { grid-area: soup3; }
.btn1 { grid-area: btn; }
.btn2 { grid-area: btn2; }
.btn3 { grid-area: btn3; }  
.salads { grid-area: salads; }
.salad1 { grid-area: salad1; }
.salad2 { grid-area: salad2; }
.salad3 { grid-area: salad3; }
.btn1 { grid-area: btn; }
.btn2 { grid-area: btn2; }
.btn3 { grid-area: btn3; }  
.entrees { grid-area: entrees; }
.ent1 { grid-area: ent1; }
.ent2 { grid-area: ent2; }
.ent3 { grid-area: ent3; }
.btn1 { grid-area: btn; }
.btn2 { grid-area: btn2; }
.btn3 { grid-area: btn3; } 
.desserts { grid-area: desserts; }
.des1 { grid-area: des1; }
.des2 { grid-area: des2; }
.des3 { grid-area: des3; }
.btn1 { grid-area: btn; }
.btn2 { grid-area: btn2; }
.btn3 { grid-area: btn3; }  
.drinks { grid-area: drinks; }
.drk1 { grid-area: drk1; }
.drk2 { grid-area: drk2; }
.drk3 { grid-area: drk3; }
.btn1 { grid-area: btn; }
.btn2 { grid-area: btn2; }
.btn3 { grid-area: btn3; }  